@page
@model Core.Pages.WorkoutModel
@{
    ViewData["Title"] = "Workout";
}

<div class="text-center">
    <div class="border-bottom">
        <h1 class="display-3">Core Workout</h1>
        <button type="button" id="btnStart" class="btn btn-success btn-lg rounded-circle mb-2 mr-2"><i class="fa fa-play"></i></button>
        <button type="button" id="btnPause" class="btn btn-primary btn-lg rounded-circle mb-2 d-none mr-2"><i class="fa fa-pause"></i></button>
        <button type="button" id="btnRestart" class="btn btn-warning btn-lg rounded-circle mb-2 d-none ml-2"><i class="fa fa-undo"></i></button>
        <div class="d-inline-flex float-right">
            <button type="button" id="btnEnableAudio" class="btn btn-lg rounded-circle shadow-none" data-toggle="tooltip" data-placement="left" title="Toggle Audio"><i class="fa fa-volume-mute"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-6">
                    <h1 id="SetTimeText" class="text-right">Set Time:</h1>
                </div>
                <div class="col-6">
                    <h1 id="SetTimer" class="text-left">@Model.Workout.SetTimeText</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1 id="SetText" class="text-right">Set #:</h1>
                </div>
                <div class="col-6">
                    <h1 id="Set" class="text-left">1</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <ol class="h2">
                @foreach (var set in Model.SetList)
                {
                    <li class="text-left">@set</li>
                }
            </ol>
        </div>
    </div>
</div>
<script src="lib/easytimer/dist/easytimer.min.js"></script>
<script>
    var isRestTime = false;
    var setDuration = @Model.Workout.SetDuration;
    var restDuration = @Model.Workout.RestDuration;
    var numberOfSets = @Model.Workout.NumberOfSets;
    var setCounter = 1;
    var setTimer = new easytimer.Timer();
    var restTimer = new easytimer.Timer();
    var countdownSound = new Audio();
    var countdownAudioLink = "https://www.fesliyanstudios.com/play-mp3/7032"
    var audioEnabled = false;

    $(document).ready(function (){
        $('#btnEnableAudio').on('click', function () {
            $(this).find('i').toggleClass('fa-volume-up fa-volume-mute')
            countdownSound.src = "";
            if ($(this).find('i').hasClass('fa-volume-up')) {
                audioEnabled = true;
                countdownSound.src = countdownAudioLink;
            } else {
                audioEnabled = false;
            }
        });
    });

    $('#btnStart').on('click', function () {
        $('#btnStart').addClass('d-none');
        $('#btnPause').removeClass('d-none');
        $('#btnRestart').removeClass('d-none');

        isRestTime ? restTimer.start() : setTimer.start();
    });

    $('#btnPause').on('click', function () {
        $('#btnStart').removeClass('d-none');
        $('#btnPause').addClass('d-none');

        setTimer.pause();
        restTimer.pause();
    });

    $('#btnRestart').on('click', function () {
        $('#btnStart').removeClass('d-none');
        $('#btnPause').addClass('d-none');
        $('#btnRestart').addClass('d-none');

        setTimer.reset();
        setTimer.pause();
        restTimer.reset();
        restTimer.pause();
        setCounter = 1;

        displayTimers(setTimer, '#SetTimer');
        $('#SetTimeText').html('Set Time:')
        $('#Set').html(setCounter);
        isRestTime = false;
    });

    setTimer.start({ countdown: true, startValues: { seconds: setDuration }, target: { seconds: 0 } });
    setTimer.pause();

    restTimer.start({ countdown: true, startValues: { seconds: restDuration }, target: { seconds: 0 } });
    restTimer.pause();

    setTimer.addEventListener('secondsUpdated', function (e) {
        displayTimers(setTimer, '#SetTimer');
        playCountdownAudio(setTimer);
    });

    setTimer.addEventListener('started', function (e) {
        displayTimers(setTimer, '#SetTimer');
    });

    setTimer.addEventListener('reset', function (e) {
        displayTimers(setTimer, '#SetTimer');
    });

    setTimer.addEventListener('targetAchieved', function (e) {
        if (++setCounter <= @Model.Workout.NumberOfSets) {
            $('#Set').html(setCounter);
            if (restDuration > 0) {
                setTimer.stop();
                restTimer.reset();
                $('#SetTimeText').html('Rest Time:');
                isRestTime = true;
            } else {
                setTimer.reset();
                isRestTime = false;
            }
        }
    });

    restTimer.addEventListener('secondsUpdated', function (e) {
        displayTimers(restTimer, '#SetTimer');
        playCountdownAudio(restTimer);
    });

    restTimer.addEventListener('started', function (e) {
        displayTimers(restTimer, '#SetTimer');
    });

    restTimer.addEventListener('reset', function (e) {
        displayTimers(restTimer, '#SetTimer');
    });

    restTimer.addEventListener('targetAchieved', function (e) {
        if (setCounter <= @Model.Workout.NumberOfSets) {
            setTimer.reset();
            $('#SetTimeText').html('Set Time:');
            isRestTime = false;
        }
    });

    function displayTimers(timer, timerDisplay) {
        var minutes = timer.getTimeValues().minutes + 'm ';
        var seconds = timer.getTimeValues().seconds + 's';
        $(timerDisplay).html(minutes + seconds);
    }

    function playCountdownAudio(timer) {
        if (audioEnabled) {
            // Countdown sound for last 3 seconds
            if (timer.getTimeValues().seconds <= 3 && timer.getTimeValues().seconds > 0) {
                countdownSound.playbackRate = 1;
                countdownSound.play();
                setTimeout(function () {
                    countdownSound.pause();
                    countdownSound.currentTime = 0;
                }, 500);
            }
            else if (timer.getTimeValues().seconds === 0) {
                countdownSound.playbackRate = .5;
                countdownSound.play();
                setTimeout(function () {
                    countdownSound.pause();
                    countdownSound.currentTime = 0;
                }, 500);
            }
        }
    }
</script>